.filmDetailsDiv{
    background-color: beige;
    height: 100vh;
    text-align: center;
    position: relative;
}

.filmDetailsDiv img{
    max-height: 200px;
}

iframe{
    border-radius: 20px;
}

.trailer{
    margin-top: 10rem;
}